.text{
    margin-left: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}

.message{
    display: flex;
    align-items: center;
    padding: 10px;
}

.matchDate{
    text-align: center;
    padding: 20px;
    color: grey;
}

.textUser{
    margin-left: auto;
    background-color: #29b3cd;
    padding: 15px;
    border-radius: 20px;
    color: white;
    width: fit-content;
    margin-right: 15px;
    margin-top: 10px;
}

.input > form{
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}

.inputField{
    flex: 1;
    padding: 10px;
    border: none;
}

.button{
    border: none;
    margin-right: 20px;
    background-color: white;
    font-weight: bolder;
    color: #fe3d71;
}